body {
  position: relative;
  display: block;
  margin: 0;
}

iframe {
  margin: 0;
  border: 0;
  padding: 0;
  border-image-width: 0;
  display: block;
  width: 100%;
  height: 100%;
}

section {
  width: 100vw;
  height: 100vh;
}


/* DON'T DELETE THIS */

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

body {
  margin: 0;
}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
