.cursor {
position: absolute;
left: 0;
top: 0;
width: 5%;
height: 10%;
background: yellow;
}

/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
