.container{
  width: 100%;
  height: 100%;
}

.cursor {
 position: absolute;
 left: 0;
 top: 0;
 width: 5%;
 height: 10%;
 background: yellow;
 }

.person-1{
  position: absolute;
  height: 8%;
  width: 12%;
  background: red;
  top: 30%;
  right: 20%}

.person-2{
    position: absolute;
    height: 10%;
    width: 5%;
    border-radius: 50%;
    background: pink;
    top: 10%;
    right: 60%}

.person-3{
      position: absolute;
      height: 14%;
      width: 14%;
      background: aqua;
      top: 80%;
      right: 50%}

/* DON'T DELETE THIS */

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

body {
  margin: 0;
  background: black
}


/* Clear Float */

.cf:before,.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
